@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.studying-programs-sect {
  padding-top: 20px;
  padding-bottom: 30px;
  &__title {}

  &__descr {
  }

  &__programms {
    font: bold 16px/140% OpenSans, sans-serif;
  }

  &__programm {
    margin-top: 20px;
    padding: 20px 20px 30px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    background: $lightGreen;
    border: 1px solid transparent;
    transition: border-color .5s;
  }

  &__programm-number {
    margin: 0 0 20px;
    font: bold 48px/100% SourceSerifPro, serif;
    color: $greyGreen;
  }

  &__programm-text {}
}


.studying-program {
  &__title {}

  &__pic {
    display: flex;
    position: relative;
    &::before {
      content: '';
      position: absolute;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  &__descr {
    margin-top: 60px;
    position: relative;
    &::before {
      content: attr(data-number);
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-50%);
      font: bold 75px/100% SourceSerifPro, serif;
      color: $light;
      z-index: -1;
      pointer-events: none;
    }
    > a {
      border-bottom: 1px solid;
      transition: border-bottom-color .5s;
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }

  &__links {
    margin: 30px auto;
    display: flex;
    flex-flow: column;
    width: 280px;
  }

  &__submit-link {
    width: 100%;
    height: 45px;
  }

  &__file-link {
    margin-top: 12px;
    width: 100%;
    height: 45px;
  }

  &.empty-image {}

  &.image-left {
    .studying-program__title {}

    .studying-program__pic {}

    .studying-program__img {}

    .studying-program__descr {}

    .studying-program__links {}

    &.empty-image {
      .studying-program__title {}

      .studying-program__pic {
        height: responsive('320->575', '181->374');
        &::before {
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
          background: $light;
        }
      }

      .studying-program__img {
        margin: auto;
        padding: 15px 30px;
        display: block;
        width: 75%;
        opacity: 0.5;
      }

      .studying-program__descr {}

      .studying-program__links {}
    }

  }

  &.image-right-small {
    .studying-program__title {}

    .studying-program__pic {
      padding: 0 0 20px;
      height: responsive('320->575', '212->385');
      &::before {
        right: -20px;
        bottom: 0;
        width: 65%;
        height: 75%;
        background: $greyGreen;
      }
    }

    .studying-program__img {}

    .studying-program__descr {}

    .studying-program__links {}

    &.empty-image {
      .studying-program__title {}

      .studying-program__pic {}

      .studying-program__img {}

      .studying-program__descr {}

      .studying-program__links {}
    }

  }

  &.image-right {
    .studying-program__title {}

    .studying-program__pic {
      height: responsive('320->575', '192->367');
      &::before {
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
        width: 100vw;
        height: 70%;
        background: $greyGreen;
      }
    }

    .studying-program__img {}

    .studying-program__descr {}

    .studying-program__links {}

    &.empty-image {
      .studying-program__title {}

      .studying-program__pic {}

      .studying-program__img {}

      .studying-program__descr {}

      .studying-program__links {}
    }

  }

}

.submit-sect {
  &__left {}

  &__title {}

  &__descr {
    margin: 0 0 30px;
  }

  &__right {
    display: none;
  }

  &__right-title {}

  &__tel {}

  &__email {}

  &__address {}
}

.submit-form-wrap {}

.submit-form {
  &__select {
    max-width: 100%;
  }

  .field {
    margin: 0 0 20px;
    &__inp {}
  }

  .field-name {}

  .field-tel {}

  .field-email {}

  .form-bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .check {
    margin: 0 0 30px;
    padding: 0 5px 0 0;
    &__inp {}

    &__pseudo-inp {}

    &__text {}

    &__link {}
  }

  .btn {
    margin: 0 0 0 auto;
    width: 130px;
    height: 45px;
  }
}

.tail-select {
  margin: 0 0 20px;
  display: block;
  max-width: 100%;
  width: 100%;
  // height: 50px;
  position: relative;
  font: 14px/140% OpenSans, sans-serif;

  &.selected {
    >.select-label {
      color: $black;
    }
  }

  &.active {
    >.select-label {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &.open-top {
    >.select-dropdown {
      top: auto;
      bottom: 100%;
      margin: 0 0 -1px 0;
      // border-top: 1px solid #d5d4d0;
    }
  }

  >.select-label {
    padding: 15px;
    display: flex;
    align-items: center;
    background: #fff;
    cursor: pointer;

    &::after {
      margin: 0 0 0 auto;
      content: '';
      width: 11px;
      height: 6px;
      background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDExIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHk9IjEuMDczOTQiIHdpZHRoPSIxLjUxODc5IiBoZWlnaHQ9IjcuNTkzOTMiIHRyYW5zZm9ybT0icm90YXRlKC00NSAwIDEuMDczOTQpIiBmaWxsPSIjMzIzMjMyIi8+CjxyZWN0IHg9IjkuOTI2MDMiIHk9IjAuMDAwMTE0NDQxIiB3aWR0aD0iMS41MTg3OSIgaGVpZ2h0PSI3Ljc3ODA5IiB0cmFuc2Zvcm09InJvdGF0ZSg0NSA5LjkyNjAzIDAuMDAwMTE0NDQxKSIgZmlsbD0iIzMyMzIzMiIvPgo8L3N2Zz4K') center/contain no-repeat;
      transition: transform .25s;
    }
  }

  >.select-dropdown {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    // border: 1px solid #d5d4d0;
    border-top: 0;
    z-index: 1;
    overflow: hidden;

    >.dropdown-inner {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .dropdown-option {
    padding: 10px 20px;
    cursor: pointer;
    transition: background .5s;

    &:hover {
      background: #d6e2eb;
    }
  }
}


.editor-popup {
  background: transparentize($green, .6);
  &__cnt {
    padding: 20px 20px 40px;
    display: flex;
    flex-flow: column;
    color: $black;
    font: 14px/140% OpenSans, sans-serif;
    ul {
      padding: 0 0 0 20px;
      list-style: disc;
    }
    li {
      margin: 0 0 10px;
    }
  }
  &__close {
    margin: 0 0 0 auto;
  }
  &__close-svg {
    pointer-events: none;
    overflow: visible;
  }
  &__close-path {
  }
  &__title {
    margin: 15px 0 10px;
    text-align: center;
    font: bold 20px/140% SourceSerifPro, serif;
  }
}