@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.about-docs-sect {
  &__title {}

  &__list {
    margin: 0 0 -40px;
  }
}

.docs {
  &__item {
    margin: 0 40px 40px 0;
    width: calc((100% - 40px) / 2);
  }

  &__item-link {}

  &__item-title {}

  &__item-icon {}
}