@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';


.steps-sect {
  &.lazyloaded {
    >.steps-sect__list::before {
      background-image: url('../img/logo-three.svg');
    }
  }

  &__title {}

  &__list {
    background-position: top right;
    background-size: 165px 365px;
    position: relative;

    &::before {
      content: '';
      width: 620px;
      height: 620px;
      position: absolute;
      right: -675px;
      top: 50%;
      transform: translateY(-50%);
      background: center/contain no-repeat;
      opacity: 0.4;
    }
  }

  &__li {

    // max-width: 550px;
    &:not(:last-child) {
      margin: 0 0 40px;
    }

    &::before {}
  }

  &__li-descr {}

  &__note {
    padding-left: 50px;
    max-width: 590px;
  }

  &__note-title {}

  &__note-text {}
}