@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-faq-sect {
  &__title {}

  &__list {}
}

.faq {
  &__item {
    overflow: hidden;
    will-change: max-height;
    transition: max-height .5s;
    border-bottom: 1px solid #e5e5e5;

    &.active {
      .faq__question-cross {
        transform: rotate(315deg);
      }
    }

    &:not(:last-child) {
      margin: 0 0 20px;
    }
  }

  &__question {
    padding: 0 0 20px;
    display: flex;
    align-items: center;
    font: bold 16px/140% SourceSerifPro, serif;
    cursor: pointer;
    transition: color .5s;
  }

  &__question-text {
    padding: 0 20px 0 0;
  }

  &__question-cross {
    margin: 0 0 0 auto;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    position: relative;
    transition: transform .5s;
    pointer-events: none;

    &::after,
    &::before {
      content: '';
      position: absolute;
      background: $green;
    }

    &::after {
      width: 1.5px;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &::before {
      width: 100%;
      height: 1.5px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__answer {
    padding: 0 0 20px;
  }
}