@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.contacts-hero-sect {
  padding-top: 20px;
  padding-bottom: $sectionVerticalPadding320;
  font: 14px/140% OpenSans, serif;
  &__title {
    margin: 0 0 20px;
  }

  &__descr {
    text-transform: uppercase;
  }

  &__contacts {
    margin: 0 0 30px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  &__contacts-title {
    margin: 0 0 20px;
    font: bold 16px/140% SourceSerifPro, serif;
    text-transform: uppercase;
  }

  &__tel {
    margin: 0 0 20px;
  }

  &__email {}

  &__map-block {
  }

  &__map {
    width: 100%;
    height: responsive('320->575', '150->250');
  }

  &__route-block {
    background: $light;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  &__route-title {
    margin: 0 0 10px;
    font: bold 16px/140% SourceSerifPro, serif;
  }

  &__address {
    margin: 0 0 10px;
    max-width: 185px;
  }

  &__route {
    line-height: 155%;
  }

  &__places-block {
    margin: 30px 0 0 0;
    padding: 0 20px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  &__places-block-title {
    margin: 0 0 20px;
    font: bold 16px/140% SourceSerifPro, serif;
  }

  &__place {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    &:not(:last-child) {
      margin: 0 0 20px;
    }
  }

  &__place-ittle {
    margin: 0 0 5px;
    font-weight: bold;
  }

  &__place-descr {}
}


.contacts-hero-sect__tel,
.contacts-hero-sect__email,
.contacts-hero-sect__address {
  &::before {
    margin: 0 15px 0 0;
    width: 25px;
    height: 25px;
  }
}