@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.applicants-hero-sect {
  margin-bottom: 60px;
  padding-bottom: 65px;

  &__title {
    margin-bottom: 50px;
  }

  &__descr {
    margin: 0 180px 0 0;
  }

  &__pic {
    margin-top: -50px;
    width: 560px;
    height: 385px;
    &::before {
      // decor bg
      width: 400px;
      right: calc(50vw - 650px);
    }
  }

  &__img {}
}