@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.ftr {
  padding-bottom: 50px;

  &__logo {
    margin: 0 80px 0 0;
    width: 145px;
    height: 145px;
  }

  &__logo-pic,
  &__logo-img {}

  &__nav {
    margin: 0;
    order: 0;
    flex: 1;
  }

  &__nav-list {
    max-width: 100%;
    display: flex;
  }

  &__nav-li {
    &.has-submenu {
      &:not(:last-child) {
        margin: 0 80px 0 0;
      }


      >.sub-menu {}

      .ftr__nav-li {
        &:not(:last-child) {}
      }
    }
  }

  &__nav-li.has-submenu {}

  &__bottom {
    margin: 80px 0 0;
  }

  &__copyright {
    max-width: 100%;
  }

  &__policy {}

  &__dev {}

  &__dev-link {}
}

// .ftr {
//   &__logo {
//     margin: 0 115px 0 0;
//   }

//   &__logo-img {}

//   &__nav {
//     margin-right: 65px;
//   }

//   &__nav-list {}

//   &__nav-li {
//     &.has-submenu {
//       &:first-child {
//         margin: 0 95px 0 0;
//       }

//       >.sub-menu {
//         font-size: 16px;
//       }
//     }
//   }

//   &__contacts {
//     max-width: 200px;
//     font-size: 16px;
//   }

//   &__tel {}

//   &__email {}

//   &__address {}

//   &__copyright {
//     margin-top: 70px;
//     max-width: 100%;
//   }

//   &__copy {}

//   &__policy {}

//   &__dev {
//     margin: 70px 0 0 auto;
//   }

//   &__dev-link {}
// }