@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.ftr {
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: $darkBlue;
  color: $white;
  text-align: center;

  &__logo {
    flex-shrink: 0;
    margin: 0 auto;
    width: 130px;
    height: 130px;
    display: inline-flex;
  }

  &__logo-pic,
  &__logo-img {
    width: 100%;
    height: 100%;
    // width: 90px;
    // height: 90px;
    object-fit: contain;
  }

  &__nav {
    margin: 50px 0 30px;
  }

  &__nav-list {
    // >.ftr__nav-li {
    //   &:last-child {
    //     display: none;
    //   }
    // }
  }

  &__nav-li {
    &.has-submenu {
      margin: 0 0 20px;
      transition: color .5s;
      // &:first-child {
      //   margin-bottom: 20px;
      // }

      >.nav-link {
        &::after {
          // margin: 0 0 0 10px;
          // width: 11px;
          // height: 7px;
          // filter: brightness(5);
        }
      }

      >.sub-menu {
        display: none;

        // padding-top: 15px;
        // font: 14px/140% OpenSans, sans-serif;
        // text-transform: none;
        .nav-link {
          border-bottom: 1px solid transparent;
          transition: border-bottom-color .5s;
        }
      }
    }
  }

  &__nav-li.has-submenu {
    // &__contacts-title {
    font: bold 12px/100% SourceSerifPro, serif;
    text-transform: uppercase;
  }

  // &__contacts-title {
  //   margin: 20px 0 15px;
  //   display: block;
  // }

  // &__contacts {
  //   display: flex;
  //   flex-flow: column;
  //   align-items: flex-start;
  //   font: 14px/140% OpenSans, sans-serif;
  // }

  // &__tel,
  // &__email,
  // &__address {
  //   display: flex;
  //   align-items: center;
  //   &::before {
  //     margin: 0 8px 0 0;
  //     flex-shrink: 0;
  //     width: 16px;
  //     height: 16px;
  //   }
  //   &:not(:last-child) {
  //     margin: 0 0 10px;
  //   }
  // }

  // &__tel {}

  // &__email {}

  // &__address {}

  &__bottom {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__copyright {
    // margin: 40px 0 0 0;
    max-width: 400px;
    font: 12px/140% OpenSans, sans-serif;
  }

  // &__copy {
  // }

  &__policy {
    margin: 0 0 20px 0;
    font: 12px/100% OpenSans, sans-serif;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .5s;
  }

  &__dev {
    margin: 30px 0 0 0;
    font: 13px/100% OpenSans, sans-serif;
  }

  &__dev-link {
    font: bold 15px/100% SegoeUI, sans-serif;
    letter-spacing: 0.08em;
    transition: color .5s;
  }
}


// .ftr.lazyloaded {
//   .ftr__tel {
//     &::before {
//       background-image: url('../img/icon-tel-white.svg');
//     }
//   }
//   .ftr__email {
//     &::before {
//       background-image: url('../img/icon-email-white.svg');
//     }
//   }
//   .ftr__address {
//     &::before {
//       background-image: url('../img/icon-address-white.svg');
//     }
//   }
// }