@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-hero-sect {
  padding-top: 70px;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, $lightGreen 0 63%, $green 63% 100%);

  &::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 10px;
    width: 210px;
    height: 210px;
    background: url('../img/logo-three.svg') center/contain no-repeat;

  }

  &__text {
    margin: 0 0 30px;
  }

  &__title {}

  &__descr {
    margin: 20px 0 0;
    max-width: 280px;
  }

  &__btn {
    margin-top: 30px;
    width: 280px;
    height: 45px;
  }

  &__slider {
    position: relative;
    height: responsive('320->575', '175->335');
    max-height: 335px;

    &.slick-slider {
      >.index-hero-sect__nav {
        display: flex;
      }
    }
  }

  &__pic {
    display: block;

    &.hide {
      display: none;
    }
  }

  &__img {}

  &__nav {
    position: absolute;
    bottom: -15px;
    right: 0;
    transform: translateY(100%);
    display: none;
    align-items: center;
    justify-content: center;
    color: $white;
    font: 14px/100% SourceSerifPro, serif;
    letter-spacing: 0.05em;
  }

  &__counter {
    margin: 0 10px;

    &-current {
      font-size: 18px;
    }
  }

  &__prev,
  &__next {
    padding: 5px;
    transition: transform .25s;
  }

  &__prev {
    margin-left: -5px;

    &:hover {
      transform: translateX(-2px);
    }
  }

  &__next {
    margin-right: -5px;

    &:hover {
      transform: translateX(2px);
    }
  }
}


.index-hero-sect__slider>.slick-list,
.index-hero-sect__slider .slick-track,
.index-hero-sect__pic,
.index-hero-sect__img {
  height: 100%;
}