@import 'assets/colors';
@import 'assets/mixins';
@import 'assets/variables';

.ftr__nav-li.has-submenu>.nav-link,
.ftr__dev-link,
.ftr__tel,
.ftr__email,
.ftr__address,
.index-contacts__tel,
.index-contacts__email,
.index-contacts__address {
  &:hover {
    color: $yellow;
  }
}

.check__link,
.ftr__policy {
  &:hover {
    border-bottom-color: transparent;
  }
}

.btn-blue:hover {
  background: $darkGreen;
  border-color: $darkGreen;
}

.thanks-popup__close {
  &:hover {
    color: $yellow;
  }
}

.faq__question,
.contact-link-tel-grey,
.contact-link-email-grey,
.contact-link-address-grey {
  &:hover {
    color: $green;
  }
}

.hdr__nav-list {
  .nav-link {
    &:hover {
      &::after {
        width: 50%;
      }
    }
  }
}

.hdr {
  a.bvi-link-shortcode {
    &:hover {
      border-color: $black;
    }
  }
}


.ftr__nav-li.has-submenu .sub-menu .nav-link,
.ftr__policy {
  &:hover {
    border-bottom-color: currentColor;
  }
}

.hdr__tel,
.hdr__email,
.hdr__address {
  &:hover {
    color: $green;

    &::before {
      filter: brightness(1);
    }
  }
}

.docs__item {
  &:hover {
    border-color: $green;
  }
}

.teacher__email {
  &:hover {
    border-bottom-color: currentColor;
  }
}

.studying-programs-sect__programm {
  &:hover {
    border-color: $black;
  }
}

.btn-ol {
  &:hover {
    background: $green;
    color: #fff;
  }
}

.hdr__instagram {
  &:hover {
    .instagram-path-grey,
    .instagram-path-white {
      opacity: 0;
    }
  }
}

.enjoy-links__instagram {
  &:hover {
    .instagram-rect {
      fill: #fff;
    }
    .instagram-path-white {
      opacity: 0;
    }
  }
}

.enjoy-links__youtube {
  &:hover {
    .youtube-svg-rect {
      fill: #f00
    }
  }
}

.hdr__vk,
.enjoy-links__vk {
  &:hover {
    .vk-svg-path {
      fill: #5181b8;
    }
    .vk-svg-rect {
      fill: #fff;
    }
  }
}