@import 'assets/colors';
@import 'assets/mixins';
@import 'assets/variables';

// .create-images-block {
//   display: flex;
//   align-items: center;
//   > .success {
//     text-align: center;
//     color: #008a20;
//     margin: 0 10px;
//   }
//   > .spinner.hidden {
//     display: none;
//   }
// }


body.post-type-studying_program {
  #edit-slug-box {
    opacity: 0;
    pointer-events: none;
  }
  .view {
    opacity: 0;
    pointer-events: none;
  }
}