@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

// html body .bvi-body[data-bvi-theme] {
//   .hdr.fixed {
//     top: 48px;
//     .hdr__burger {
//       margin: 0 0 0 auto;
//     }
//   }
//   .hdr.cloned {
//     +.menu {
//       padding: 100px 0 0;
//     }
//   }
// }

.hdr__burger {
  // margin: 0 0 0 auto;
  display: inline-flex;
  transition: opacity .15s linear;
  background: 0 0;
  border: 0;
  overflow: visible;
  font-size: 7.145px; // Для контроля размеров

  &-box {
    display: inline-block;
    flex-shrink: 0;
    width: 4.2em;
    height: 2.835em;
    position: relative;
    pointer-events: none;
  }

  &-inner {
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 8.625px;
    background: $black;

    &::after,
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(to top, $black, $black) right/100% no-repeat;
      border-radius: inherit;
    }

    &::after {
      bottom: -1em; // 6px
    }

    &::before {
      top: -.98em; // 6px
      background-position: left;
    }
  }
}

.hdr {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  background: $white;
  // position: relative;
  // z-index: 2;

  &.fixed {
    display: none;
    // padding-top: 10px;
    // padding-bottom: 10px;
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // animation: translateToBottom .5s;

    // >.hdr__logo {
    //   display: none;
    // }
  }

  // &.cloned {
  //   +.menu {
  //     padding-top: 40px;
  //   }
  // }

  &__right {
    display: none;
  }

  &__logo {
    margin: 0 auto 0 0;
    flex-shrink: 0;
    width: 160px;
  }

  // &__logo-with-text {
    // margin: 0 auto 0 0;
    // flex-shrink: 0;
    // width: 160px;
  // }

  &__logo-pic,
  &__logo-img {
    width: 100%;
    height: 100%;
  }

  &__burger {
    // margin: 0 0 0 25px;
  }

  &__login {
  }

  &__burger-box {}

  &__burger-inner {}

  >.bvi-link-shortcode {
    display: none;
    // margin: 0 0 0 auto;
    // display: block;
    // width: 24px;
    // height: 16px;
    // background: url('../img/icon-bvi.svg') center/contain no-repeat !important;
    // > svg {
    //   display: none !important;
    // }
  }

  &__vk,
  &__instagram,
  &__telegram,
  &__nav {
    display: none;

    &-list {}

    &-li {}
  }
}

.hdr>.bvi-panel-close,
#bvi-toggler-menu-hide {
  display: none !important;
}